<div class="video-container">
    <div class="video-header" *ngIf="isAdmin || room.settings.allowChangeUrl">
        <input class="video-input" type="text" #videoInput placeholder="Url..." />
        <button class="video-button" type="button" (click)="updateVideo(videoInput.value)">Change</button>
    </div>

    <youtube-player
        [class.unclickable]="!isAdmin && !room.settings.allowVideoChange"
        disablePlaceholder
        [videoId]="playerUrl"
        [playerVars]="playerVars"
        (ready)="onPlayerReady($event)"></youtube-player>
</div>
