:root {
    --black: #000000;
    --black-transparent: #00000080;
    --white: #FFFFFF;
    --white-transparent: #ffffff80;
    --red: #ec3737;
    --gray: #686868;
    --smoke: #D9D9D9;
    --light-smoke: #bdbdbd;

    --light-blue: #c2cfd6;
    --light-gray: #dde4e7;

    --card-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.4);
    --image-shadow: 4px 6px 4px 0 rgba(0, 0, 0, 0.25);

    --color-success: #6eb875;
    --color-warn: #f28664;
    --text-error: #e85020;

    --status-warn: #D0972C;
    --status-success: #00CD37;
    --status-danger: #D02C2C;
    --status-neutral: #2F89CE;

    --model-background: #fafafc;

    --yellow: #b6914d;
    --yellow-transparent: rgb(224, 178, 93, 0.1);
}
